.wrap {
    height: calc(100vh - 80px);
    width: 100%;
    background-color: blueviolet;
    /* background: linear-gradient(90.44deg, rgba(0, 0, 0, 0.6) 0.41%, rgba(0, 0, 0, 0) 102.84%) center center / cover no-repeat, url(/assets/images/main/intro_background.jpg); */
    background: linear-gradient(90.44deg, rgba(0, 0, 0, 0.6) 0.41%, rgba(0, 0, 0, 0) 102.84%) center center / cover no-repeat, url(/images/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}

.arrow {
    width: 100vw;
    position: absolute;
    bottom: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
    animation-duration: 1s;
    animation-name: fadeAndTravel;
    animation-iteration-count: infinite;
}

.arrow__span {
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 30px;
}

@keyframes fadeAndTravel {
    0% {
        opacity: 0;
        bottom: 40px;
    }
    50% {
        opacity: 1;
        bottom: 35px;
    }
    100% {
        opacity: 0;
        bottom: 40px;
    }
}